.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: calc(100vw - 2rem);
    min-width: 328px;
    max-width: 402px;
    margin: 0 1rem 2rem 1rem;
    padding: 1rem;
    border: 1px var(--mg-gray-3) solid;
    box-shadow: 3px 3px 6px 0 var(--mg-gray-4);
}

.card:last-of-type {
    margin-bottom: 0;
}

.card > h3 {
    color: var(--mg-red-dark);
    font-size: clamp(1rem, 0.55vw + 0.55rem, 1.2rem);
    font-weight: bolder;
    text-align: center;
}

.card > p {
    font-size: clamp(0.9rem, 0.55vw + 0.6rem, 1rem);
}

.description {
    flex: 1;
    color: var(--mg-gray-6);
}

.img-container {
    text-align: center;
}

.image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 300px;
}

.info {
    margin: 0 0 0 auto;
}

.pointer::before {
    content: '\203A\203A \0020';
}

.location {
    text-align: center;
}

.activities {
    flex: 1;
    color: var(--mg-gray-6);
    margin-right: auto;
}

.activities-text {
    color: var(--theme-color-1);
    font-weight: bolder;
}

@media (min-width: 480px) {
    .card {
        width: 100%;
        min-width: 352px;
    }

    .card:last-of-type {
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    .card {
        align-self: stretch;
    }
}
